<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <!-- <script src="/static/js/token.js"></script> -->
    <!-- <script>
        document.cookie = 'access_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
        window.location.href = '/login';

    </script> -->
    <!-- <script>
        function logout() {
            localStorage.removeItem('jwt_token');
            window.location.href = "/auth/users/me";
        }

        function setCookie()   
{  
    document.cookie="name=Martin Roy; expires=Sun, 20 Aug 2000 12:00:00 UTC";  
    
}   
    </script> -->
</head>
<body>
    <h1>Loginssss</h1>

    <h1>Welcome to my App</h1>
            <button onclick="logout()">Logout</button>
            <input type="button" value="Set Cookie" onclick="setCookie()">  
<input type="button" value="Get Cookie" onclick="getCookie()">  
    <!-- <form method="post" action="/api/auth/login">
        <label>Email</label>
        <input type="email" name="email" required>
        <br>
        <label>Password</label>
        <input type="password" name="password" required>
        <br>
        <input type="submit" value="Login">
    </form> -->

    <form action="" method="POST">
        
        

      </form>
</body>
</html>
